.settings-sub{
    font-size: 16px;
    margin-top: 35px;
    padding: 20px;
    width: 75%;
    font-family: 'Poppins';
}

.setting-head{
    font-size: 18px;
    font-weight: 600;
    color:#484848;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.settings-item{
    padding-bottom: 15px;
}


.setting-item-label{

    font-family: 'poppins';
    font-size: 18px;
}

.settings-item input{

    height: 35px;
    width: 100%;
    font-size: 18px;
}

.settings-items{
    padding-bottom: 15px;
    display: flex;
    flex-grow: 1;
}

.settings-items div{

    flex-direction: row;
    width: 100%;

}

.settings-items div:first-child{

    margin-right: 35px;
}

.settings-items div input{

    height: 35px;
    width: 100%;
    font-size: 18px;
}

.gender-group{
    width: 100%;
    margin-right: 35px;
}

.gender-group span{

    margin-top: 6px;
    display: flex;
    flex-grow: 1;

}

.gender-group span span{
    
    
}

.gender-group span input{

 }

.combo{

    height: 35px;
    width: 100%;
    font-size: 18px;
}

.staff-button {
    width: 50%;
    height: 45px;
    background-color: #1abc9c;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Muli';
    font-size: 19px;
    margin-top: 15px;
}